@import './fonts-faces';
@import './colors';

// mixins
@mixin general-overlay($in_color: #FFFFFF, $in_opacity: .7, $in_blur: 4px) {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur($in_blur);
  -webkit-backdrop-filter: blur($in_blur); /* Compatibilidade WebKit */
  background-color: $in_color;
  //opacity: $in_opacity;
  z-index: 1;
}

@mixin fade-in($duration: 1s, $from: 0, $to: 1) {
  animation: fadeIn $duration ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: $from;
    }
    to {
      opacity: $to;
    }
  }
}
